@media (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .item {
        flex: 1 1 200px;
    }
}

body{
    
        text-align: center;
        line-height: 1;
        position: relative;
        padding: 20px;
        border-radius: 10px;
       
   
        text-align: center;
        background-color: rgb(38, 36, 36);

        background-repeat: no-repeat;
        background-size: 275%;
        background-position: auto; 
        
        }
        
        img {
            margin-top: 30px;
            margin-bottom: 50px;
            width: 100%; /* Adjust the percentage as needed */
            height: auto; /* Maintains the aspect ratio */
        }
       
        footer {
        
            margin-top: 50px;
           
            position: bottom;
            left: 0;
            bottom: 0;
            width: 100%;
         
            color: red;
           
            text-align: center;
            padding: 5px;
            
        }
        
     


header {
  
  
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
  

}

h1 {
    
    font-size: 45pt;
    color:red;
 
    
        text-shadow: 
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px  1px 0 black,
           1px  1px 0 black; /* Four shadows to create an outline */
       margin-bottom: 80px;
       margin-top: -275px;
       text-align: center;
   
}
h2{
    font-size: 19px;
    color:red;
 
    
        text-shadow: 
          -1px -1px 0 black,  
           1px -1px 0 black,
          -1px  1px 0 black,
           1px  1px 0 black; /* Four shadows to create an outline */
       margin-bottom: 18px;
       margin-top: 50px;
       text-align: left;

}


ul, li {
    text-align: left;
    color:blue;
    font: size 20px;
    color:blue;
    text-shadow: 
-1px -1px 0 rgb(255, 255, 255),  
2px -1px 0 rgb(249, 247, 241),
-1px  1px 0 rgb(237, 231, 231),
2px  1px 0 rgb(241, 240, 239); 

  
  
}

p{
    text-align: center;
    color:red;

   
 
  
    text-shadow: 
        -1px -1px 0 rgb(203, 38, 38),  
         2px -1px 0 rgb(13, 13, 12),
        -1px  1px 0 rgb(214, 10, 10),
         2px  1px 0 rgb(230, 89, 7);
   }
































